{% extends "base.html" %}

{% block content %}
    <h1>Name: {{ organization.name }}</h1>

    <p><strong>Description:</strong> {{ organization.description }}</p>
    <p><strong>City:</strong> {{ organization.city }}</p>
    <p><strong>Address:</strong> {{ organization.address }}</p>
    <p><strong>Phone:</strong> {{ organization.phone }}</p>
    <p><strong>Owner:</strong> {{ organization.owner.username }}</p>
    <p><a href="{% url 'organization_update' pk=organization.pk %}">Edit organization profile</a></p>
    <p><a href="{% url 'organization_delete' pk=organization.pk %}">Delete organization profile</a></p>

{% endblock %}
